<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a1505197.deliveringurway">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_dizbiz"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login">


        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAqArY-mbqDVMMrcBL4tQ7BJj1BYiqws2Y" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".Register" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Vendorinfo1" />
        <activity android:name=".VendorInfo2" />
        <activity android:name=".VendorInfo3" />
        <activity android:name=".VendorInfo4" />
        <activity android:name=".VendorLogin" />
        <activity android:name=".VendorData" />
        <activity android:name=".UserSideFoodVendors" />
        <activity android:name=".UserSideClothVendors" />
        <activity android:name=".UserSideVendorData" />
        <activity android:name=".VendorProductDescription" />
        <activity android:name=".AboutProduct" />
        <activity android:name=".RentalVendorDetails" />
        <activity android:name=".UserSideRentalVendors" />
        <activity android:name=".AboutUs" />
        <activity android:name=".VendorSelectCity" />
        <activity android:name=".SplashScreenActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!--Idhar pe Launncher wala tha jo spash screen mei lagaya hai-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest> <!--  -->
